{% extends "base.html" %}



</style>
{% block content %}
<body id="index-body">
    <div class="container  mt-5 text" id="index-body">
        <h1 class="py-5">Answer the Following: </h1>
        <div id="question" style="width:50%;margin-left:auto;margin-right:auto;font-size:28px;" >{{ question }} ?</div>
        <input type="number" id="score" min="0" class="form-control my-4"  style="width:50%;margin-left:auto;margin-right:auto;"/>
        <button class="btn btn-primary my-2" style="width:50%;margin-left:auto;margin-right:auto;margin-top:50px;" onclick="submitScore()">Submit</button>
        <div id="remaining-points" style="width:50%;margin-left:auto;margin-right:auto;">Remaining Points for {{ remaining_points }}: </div>
        <div id="error-message" class="error"></div>
    </div>









    <script>
        function submitScore() {
            const score = document.getElementById('score').value;
            fetch('', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: `score=${score}`
            }).then(response => response.json()).then(data => {
                if (data.error) {
                    document.getElementById('error-message').textContent = data.error;
                } else if (data.result) {
                    console.log(data.result);
                    localStorage.setItem("result", data.result);
                    alert("Final Scores: " + JSON.stringify(data.result));
                    //location.reload(); // Reload the page to reset    
                } else {
                    document.getElementById('question').textContent = data.question;
                    document.getElementById('remaining-points').textContent = "Remaining Points for " + data.remaining_points + ": ";
                    document.getElementById('error-message').textContent = '';
                }
            });
        }
    </script>
</body>
{% endblock content %}